*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

body{
    box-sizing: border-box;
    background-color: #007bff;
}

#start_btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#start_btn a{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 500;
    border: none;
    outline: none;
    color: #007bff;
    background-color: white;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}